@import './variables';
/**
* For custom css implementation
*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/screens';
@import 'locomotive-scroll/dist/locomotive-scroll.css';

/** 
* Custom
*/
@import './utilities/helpers';
@import './utilities/layouts';
@import './utilities/buttons';
@import './utilities/inputs';
@import './utilities/link';

/** 
* Animations
*/
/* @import './animation/page-transitions'; */

/**
* Custom style
*/
body {
  @apply bg-extra-light;
  overflow: hidden;
  /* overflow-x: hidden;
  overflow-y: scroll; */
}

.viewport-container {
  /* overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}

.ic-smooth-scroll {
  /* position: absolute;  
  overflow: hidden;
  z-index: 10;
  backface-visibility: hidden;
  transform-style: preserve-3d; */
}

/**
* Others
*/
code {
  font-family: Consolas, 'courier new';
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 2px;
  padding-right: 2px;
}

.asscrollbar__handle {
  transition: all ease 0.2s;
}
