@import "./variables";
/**
* For custom css implementation
*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

/** 
* Custom
*/
@import "./utilities/layouts";
@import "./utilities/buttons";
@import "./utilities/inputs";
@import "./utilities/link";

/**
* Custom style
*/
body {
    @apply bg-extra-light;
}

/**
* Others
*/
code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 2px;
  padding-right: 2px;
}
